<ion-list *ngFor="let item of items | async">
    <ion-card>
      <ion-card-content>
        <p>{{item.name}}:</p>
        <h2>{{item.thought}}</h2>
      </ion-card-content>
    </ion-card>
</ion-list>