<ion-list *ngFor="let item of items | async">
  <ion-card>
    <ion-card-content>
      <p>{{item.name}}:</p>
      <h2>{{item.thought}}</h2>
      <br>
      <ion-buttons>
        <button ion-button color="danger" round small icon-start clear outline (click)="presentConfirm(item)">
          <ion-icon name="trash"></ion-icon>
          Delete Thought
        </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-list>