<ion-header>

  <ion-navbar>
    <ion-title>Reset your password!</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <br>

  <ion-list>

      <ion-item>
        <ion-input type="text" placeholder="E-Mail" #email></ion-input>
      </ion-item>
    
  </ion-list>
  
  <div padding>
    <button ion-button block (click)="resetPassword()">Reset password</button>
  </div>
