<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Random Thoughts!</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="presentActionSheet()">
        <ion-icon color="dark" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  
  <view></view>
  <ion-scroll direction="y"></ion-scroll>

</ion-content>

<ion-footer>

  <send></send>

</ion-footer>
