<!--
  Generated template for the YourThoughtsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    Your Thoughts
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

  <view-your-thoughts></view-your-thoughts>

</ion-content>
