<ion-content padding>
  <br>

  <h1>
    Random Thoughts!
  </h1>

  <br>

  <ion-list>

      <ion-item>
        <ion-input type="text" placeholder="E-Mail" #email></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input type="password" placeholder="Password" #password></ion-input>
      </ion-item>
    
  </ion-list>
  
  <div padding>
    <button ion-button block (click)="login()">Log in</button>
  </div>

  <button color="danger" ion-button clear (click)="goToForgotPassword()">Forgot your password? Click me!</button>

  <br>
  <br>

  <button ion-button clear (click)="goToRegister()">Don't have an account? Click me!</button>

</ion-content>
