<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea type="text" #thought placeholder="What are you thinking?"></ion-textarea>
      <button item-end clear ion-button round icon-only (click)="sendThought()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>