<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create your account!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Username" #name></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="E-Mail" #email></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" #password></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Confirm your Password" #password2></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block (click)="register()">Register</button>
  </div>

</ion-content>